<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="<%= BASE_URL %>./resource/script/modules.js"></script>
        <script src="<%= BASE_URL %>./resource/script/jquery.min.js"></script>
        <title>Document</title>
        <style>
            body {
                box-sizing: border-box;
                padding-top: 100px;

                background: #fff;
            }

            .editor_box {
                width: 800px;
                min-height: 500px;
                margin: 0 auto;

                border: 1px solid rgb(245, 245, 245);
            }
        </style>
    </head>

    <body>
        <div class="editor_box"></div>
    </body>

    <script>

        $(function () {
            $(".editor_box").each((i, dom) => {
                let editor_component = Page_editor(dom, {
                    editor_data: [],
                    iframe_mounted() {
                        window.EDITOR_CONFIG_MOUNTED(editor_component);
                    }
                }).init();
            });
        });

    </script>

</html>
