@import "~normalize.css";
@import "~font-awesome/css/font-awesome.css";

.fa {
    font-size: inherit;
    line-height: inherit;

    color: inherit;
}

.layout_grid {
    display: grid;
}

.hide {
    display: none;
}
.flex {
    display: flex;
}
.flex_center {
    display: flex;

    align-items: center;
    justify-content: center;
}
.flex_fix {
    flex: 0 0 auto;
}
.flex_auto {
    flex: 1 1 auto;
}
@for $num from 1 through 20 {
    .layout_grid-colspac-#{$num} {
        grid-column-gap: #{$num}px;
    }

    .layout_grid-rowspac-#{$num} {
        grid-row-gap: #{$num}px;
    }

    .layout_grid-col-#{$num} {
        grid-template-columns: repeat($num, 1fr);
    }

    .layout_grid-item_clo-#{$num} {
        grid-column-start: span $num;
    }
}
