/*
* --------------------------------------------- start ck编辑器样式 ---------------------------------------------
*/

body {
    .ck.ck-editor__editable_inline {
        padding: 0;
    }

    .ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected,
    .ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected:hover {
        outline: none;
    }

    .blank_block.ck-widget_selected {
        background: rgba(193, 193, 193, 0.25);
    }

    .ck.ck-editor__editable_inline {
        box-sizing: border-box;
    }

    .ck-widget.table td.ck-editor__nested-editable.ck-editor__nested-editable_focused,
    .ck-widget.table th.ck-editor__nested-editable.ck-editor__nested-editable_focused {
        background: rgba(123, 123, 123, 0.4);
    }

    .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
        padding-top: 70px;
    }

    .ck.ck-link-actions .ck-button:not(.ck-link-actions__preview) {
        margin: 0;
    }

    .ck.ck-button.ck-button_with-text,
    a.ck.ck-button.ck-button_with-text {
        width: 100%;
    }
}

/*
* --------------------------------------------- end ck编辑器样式   ---------------------------------------------
*/

/*
* --------------------------------------------- start 编辑器内样式 ---------------------------------------------
*/

// layout_group
.page_body_editor .layout_group {
    border: 2px solid #eee;
    border-bottom: none;

    &:hover {
        .layout_group-editor_bar {
            visibility: visible;

            opacity: 1;
        }
    }

    &:first-of-type .layout_group-editor_bar .item[data-key="up"] {
        display: none;
    }

    &:last-of-type .layout_group-editor_bar .item[data-key="down"] {
        display: none;
    }

    .layout_group-editor_bar .item:hover {
        color: #000;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
}

.layout_group-editor_bar {
    position: absolute;
    top: -2px;
    left: 0;

    display: flex;
    visibility: hidden;

    width: 100%;
    height: 4px;

    transition: 0.36s ease;

    opacity: 0;
    border-radius: 2px;
    background: #eee;

    align-items: center;
    justify-content: center;

    .item {
        font-size: 12px;

        display: flex;

        box-sizing: border-box;
        width: 25px;
        height: 25px;
        margin: 0 5px;

        cursor: pointer;
        transition: 0.2s ease;

        color: #999;
        border-radius: 50%;
        background: #eee;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);

        align-items: center;
        justify-content: center;
    }

    .text {
        display: none;
    }
}

// layout
.layout {
    &:hover {
        .layout-editor_bar {
            visibility: visible;

            opacity: 1;
        }
    }

    &:first-of-type .layout-editor_bar .item[data-key="up"] {
        display: none;
    }

    &:last-of-type .layout-editor_bar .item[data-key="down"] {
        display: none;
    }

    &:first-of-type:last-of-type .layout-editor_bar .item[data-key="delete"] {
        display: none;
    }

    .layout-editor_bar .item:hover {
        color: #000;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
}

.layout-editor_bar {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    visibility: hidden;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    transition: 0.36s ease;
    pointer-events: none;

    opacity: 0;
    border: 2px solid #eee;
    border-right: none;
    border-left: none;
    border-radius: 2px;
    background: transparent;

    align-items: center;
    justify-content: center;

    .item {
        font-size: 12px;

        display: flex;

        box-sizing: border-box;
        width: 25px;
        height: 25px;
        margin: 0 5px;

        cursor: pointer;
        transition: 0.2s ease;
        pointer-events: all;

        color: #999;
        border-radius: 50%;
        background: #eee;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);

        align-items: center;
        justify-content: center;
    }

    .text {
        display: none;
    }
}

/*
* --------------------------------------------- end 编辑器内样式 ---------------------------------------------
*/

/*
* --------------------------------------------- 页面展示 ---------------------------------------------
*/

// 编辑器默认样式
.layout_group {
    .editor {
        overflow: hidden;

        width: 100%;
        padding: 0;
    }

    .editor .table {
        display: table;

        margin: 0;
    }

    .editor .table table {
        border-spacing: 0;
        border-collapse: collapse;

        border: 1px double rgba(211, 211, 211, 0.4);
    }

    .editor .table table td,
    .editor .table table th {
        min-width: 2em;
        padding: 0.4em;

        border-color: rgba(211, 211, 211, 0.4);
    }

    .editor .table table th {
        font-weight: 700;

        background: #fafafa;
    }

    .editor blockquote {
        font-style: italic;

        overflow: hidden;

        margin-left: 0;
        padding-right: 1.5em;
        padding-left: 1.5em;

        border-left: 5px solid #ccc;
    }

    .editor .image.ck-appear {
        animation: fadeIn 0.7s;
    }

    .editor .image .ck-progress-bar {
        width: 0;
        height: 2px;

        transition: width 0.1s;

        background: #6cb5f9;
    }

    .editor .image-style-align-center,
    .editor .image-style-align-left,
    .editor .image-style-align-right,
    .editor .image-style-side {
        max-width: 50%;
    }

    .editor .image-style-side {
        float: right;

        margin-left: 1.5em;
    }

    .editor .image-style-align-left {
        float: left;

        margin-right: 1.5em;
    }

    .editor .image-style-align-center {
        margin-right: auto;
        margin-left: auto;
    }

    .editor .image-style-align-right {
        float: right;

        margin-left: 1.5em;
    }

    .editor .image {
        clear: both;

        margin: 1em 0;

        text-align: center;
    }

    .editor .image>img {
        display: block;

        max-width: 100%;
        margin: 0 auto;
    }

    .editor .image {
        position: relative;

        overflow: hidden;
    }

    .editor .image .ck-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
    }

    .editor .image>figcaption {
        font-size: 0.75em;

        display: none !important;

        padding: 0.6em;

        color: #333;
        outline-offset: -1px;
        background-color: #f7f7f7;
    }
}

// layout 布局样式
.layout_group {
    .row {
        display: flex;
        flex: 1 1 auto;

        box-sizing: border-box;
    }

    .col {
        display: flex;

        box-sizing: border-box;
    }

    .col_space {
        display: block;
        flex: 0 0 auto;
    }

    .col-20 {
        width: 20%;
    }

    .col-25 {
        width: 25%;
    }

    .col-30 {
        width: 30%;
    }

    .col-33 {
        width: 33.3333333%;
    }

    .col-40 {
        width: 40%;
    }

    .col-50 {
        width: 50%;
    }

    .col-60 {
        width: 60%;
    }

    .col-66 {
        width: 66.6666666%;
    }

    .col-70 {
        width: 70%;
    }

    .col-100 {
        width: 100%;
    }

    .space-3 {
        &>* {
            margin-right: 3px;

            &:last-child {
                margin: 0;
            }
        }
    }

    .space-10 {
        margin-right: -10px;
    }

    .space-10>* {
        padding-right: 10px;
    }

    .space-20 {
        margin-right: -20px;
    }

    .space-20>* {
        padding-right: 20px;
    }

    .flex {
        display: flex;
    }

    .flex-elastic {
        flex: 1 1 auto;
    }

    .flex-yc {
        display: flex;

        align-items: center;
    }
}

// layout 结构样式
.layout {
    &_group {
        @at-root (with: rule) {
            position: relative;

            .row {
                position: relative;

                display: flex;
                flex: 1 1 auto;

                box-sizing: border-box;

                border: 1px solid rgba(211, 211, 211, 0.4);
                border-top: 0;
                border-bottom: 0;
            }

            .col {
                border: 1px solid rgba(211, 211, 211, 0.4);
            }

            hr.blank_block {
                margin: 0;

                border: none;
            }
        }
    }
}

//! 待整理

.layout {
    font-size: 14px;
    line-height: 1.6;

    position: relative;

    overflow: hidden;

    tbody {
        vertical-align: top;
    }

    .layout_bg_mo {
        display: none;
    }

    .layout_header,
    .layout_footer {
        display: none;

        min-height: 50px;
    }

    .blank_block.small_blank {
        height: 20px;
    }

    .blank_block.normal_blank {
        height: 50px;
    }

    .blank_block.big_blank {
        height: 100px;
    }

    .layout_bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
    }

    &[data-show_header="true"] {
        .layout_header {
            display: block;
        }
    }

    &[data-show_footer="true"] {
        .layout_footer {
            display: block;
        }
    }

    .row {
        .col {
            border: 1px solid rgba(211, 211, 211, 0.4);
        }

        .col:first-child {
            margin-left: 0 !important;
        }

        [class*="col-"] {
            padding: 0;
        }
    }

    h1 {
        font-size: 2em;
        font-weight: bold;

        display: block;

        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    h2 {
        font-size: 1.5em;
        font-weight: bold;

        display: block;

        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    h3 {
        font-size: 1.17em;
        font-weight: bold;

        display: block;

        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .layout_container[data-align="center"] {
        margin: 0 auto;
    }

    &[data-window_width="true"] {
        width: 100vw !important;
        max-width: none;
        margin-left: 50%;

        transform: translateX(-50%);
    }

    &[data-limit_width="true"]>.layout_limit_wrapper {
        max-width: 1200px;
        margin: 0 auto;

        border: 1px solid rgba(211, 211, 211, 0.4);
        border-top: none;
        border-bottom: none;
    }

    &[data-set_border="false"] {
        border: none;

        * {
            border: none;
        }
    }

    blockquote {
        font-style: italic;

        overflow: hidden;

        margin-top: 0.9em;
        margin-bottom: 0.9em;
        margin-left: 0;
        padding-right: 1.5em;
        padding-left: 1.5em;

        border-left: 5px solid #ccc;
    }

    figure {
        position: relative;

        margin: 0;

        &.table {
            margin: 0 auto;
        }
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;

        border: 1px double rgba(211, 211, 211, 0.4);

        td {
            border: 1px solid transparent;
        }

        td,
        th {
            min-width: 2em;
            padding: 0.4em;

            border-color: rgba(211, 211, 211, 0.4);
        }
    }

    &[data-align_center="true"]>.layout_limit_wrapper>.layout_container>.row>.col {
        display: flex;

        align-items: center;
        flex-wrap: wrap;
    }

    &[data-bg_image_align="true"] {
        .layout_bg {
            background-position: top center;
        }
    }

    & {
        .layout_bg {
            background-repeat: no-repeat;
        }
    }

    &[data-bg_image_repeat="true"] {
        .layout_bg {
            background-repeat: repeat;
        }
    }

    &[data-bg_image_size="true"] {
        .layout_bg {
            background-size: 100%;
        }
    }

    img {
        max-width: 100%;
    }

    video,
    iframe {
        vertical-align: top;
    }

    .hide {
        display: none;
    }

    figcaption {
        display: none !important;
    }

    table {
        margin: 0 auto;
    }

    .table table th {
        background-color: transparent;
    }

    .hr {
        margin: 20px 0;

        border: none;
        border-top: 1px solid rgba(211, 211, 211, 0.4);
    }

    .hr.dash {
        border-top: 1px dotted rgba(211, 211, 211, 0.4);
    }

    table,
    .f_table {
        table-layout: fixed;
    }

    .f_table,
    .table,
    table {
        width: 100%;
    }

    .table {
        &[data-border="true"] {

            .f_table,
            table {
                border: none;
            }

            .f_th,
            .f_td,
            th,
            td {
                border: none;
            }
        }
    }

    a[data-layout="1"] {
        line-height: 48px;

        display: inline-block;
        overflow: hidden;

        min-width: 70px;
        height: 48px;
        padding: 0 35px;

        text-align: center;
        vertical-align: center;
        white-space: nowrap;
        text-decoration: none;
        text-overflow: ellipsis;

        color: #333;
        background: #f0f0f0;
    }

    a[data-layout="2"] {
        line-height: 48px;

        display: inline-block;
        overflow: hidden;

        min-width: 70px;
        height: 48px;
        padding: 0 35px;

        text-align: center;
        vertical-align: center;
        white-space: nowrap;
        text-decoration: none;
        text-overflow: ellipsis;

        color: #333;
        border-radius: 5px;
        background: #f0f0f0;
    }

    a[data-layout="3"] {
        line-height: 48px;

        display: inline-block;
        overflow: hidden;

        min-width: 70px;
        height: 48px;
        padding: 0 35px;

        text-align: center;
        vertical-align: center;
        white-space: nowrap;
        text-decoration: none;
        text-overflow: ellipsis;

        color: #333;
        border-radius: 24px;
        background: #f0f0f0;
    }

    a[data-style="white"] {
        color: #333;
        background: #f0f0f0;
    }

    a[data-style="black"] {
        color: #fff;
        background: #333;
    }
}

.layout_dom {
    margin: 0 auto;

    transition: background 0.36s ease;

    &.theme_w {
        background-color: #fff;
    }

    &.theme_b {
        color: #eee;
        background-color: #232323;
    }

    &.agent_mo {
        max-width: 375px;

        border-radius: 10px;

        .layout_dom_body {
            overflow: hidden;

            max-width: 100%;

            border: 1px solid #eaeaea;
            border-radius: 10px;
            box-shadow: 0 0 10px #eaeaea;
        }

        .layout {
            .layout_bg_mo {
                display: block;
            }

            .layout_bg_pc {
                display: none;
            }

            &[data-limit_width="true"]>.layout_limit_wrapper {
                max-width: 98%;
            }

            .blank_block.big_blank {
                height: 50px;
            }

            .blank_block.normal_blank {
                height: 25px;
            }

            .blank_block.small_blank {
                height: 10px;
            }

            .text-40,
            .text-60,
            .text-72 {
                font-size: 38px !important;
            }

            .row {
                flex-wrap: wrap;
            }

            &[data-window_width="true"] {
                width: 375px !important;
            }

            &[data-col="50_50"],
            &[data-col="70_30"],
            &[data-col="30_70"],
            &[data-col="25_50_25"],
            &[data-col="33_33_33"] {
                .col {
                    flex: 0 0 100%;

                    width: 100%;
                }

                .col_space {
                    display: none;
                }
            }

            &[data-col="50_25_25"] {
                .col-50 {
                    flex: 0 0 100%;

                    width: 100%;
                }

                .col-25 {
                    flex: 1 0 auto;

                    width: 34%;

                    &+.col_space {
                        max-width: 32%;
                    }

                    &:nth-of-type(2n)+.col_space {
                        display: none;
                    }
                }
            }

            &[data-col="25_25_50"] {
                .col-50 {
                    flex: 0 0 100%;

                    width: 100%;
                }

                .col-25 {
                    flex: 1 0 auto;

                    width: 34%;

                    &+.col_space {
                        max-width: 32%;
                    }

                    &:nth-of-type(2n)+.col_space {
                        display: none;
                    }
                }
            }

            &[data-col="25_25_25_25"] {
                .col-25 {
                    flex: 1 0 auto;

                    width: 34%;

                    &+.col_space {
                        max-width: 32%;
                    }

                    &:nth-of-type(2n)+.col_space {
                        display: none;
                    }
                }
            }

            &[data-col="20_20_20_20_20"] {
                .col-20 {
                    flex: 1 0 auto;

                    width: 34%;

                    &+.col_space {
                        max-width: 32%;
                    }

                    &:nth-of-type(2n)+.col_space {
                        display: none;
                    }
                }

                .col-20:nth-of-type(5n) {
                    flex: 0 0 100%;

                    width: 100%;
                }

                .col_space:last-child {
                    width: 100%;
                    height: 0;
                }
            }
        }
    }

    &.agent_pc {
        max-width: 100%;
    }
}

// 预览的样式

.layout {
    .layout_container {
        max-width: 100%;
    }
}

/*
* -------------------------------------------animate-------------------------------------------
*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);

        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);

        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale3d(0.6, 0.6, 0.6);

        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);

        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
}

.layout_dom {
    &.agent_mo {
        .layout_limit_wrapper {
            @for $i from 1 through 10 {
                .row .col:nth-of-type(#{$i}) {
                    animation-delay: 0.1s * $i;
                }
            }

            &[data-animate="2"] {
                .col {
                    animation-name: fadeInRight;
                }
            }
        }
    }
}

.layout_limit_wrapper {

    .layout_header,
    .layout_footer,
    .col {
        &.animated {
            animation-duration: 1s;

            animation-fill-mode: both;
        }
    }

    &[data-animate] {
        .layout_container {

            .layout_header,
            .layout_footer {
                &:not(.animated) {
                    animation-name: none;
                }
            }
        }

        .row .col:not(.animated) {
            animation-name: none;
        }
    }

    &[data-animate="1"],
    &[data-animate="3"],
    &[data-animate="4"] {
        @for $i from 1 through 10 {
            .row .col:nth-of-type(#{$i}) {
                animation-delay: 0.1s * $i;
            }
        }
    }

    &[data-animate="4"] {

        .layout_header,
        .layout_footer,
        .col {
            animation-name: fadeIn;
        }
    }

    &[data-animate="3"] {

        .layout_header,
        .layout_footer,
        .col {
            animation-name: zoomIn;
        }
    }

    &[data-animate="2"] {

        .layout_header,
        .layout_footer,
        .col {
            animation-name: fadeInRight;
        }
    }

    &[data-animate="1"] {

        .layout_header,
        .layout_footer,
        .col {
            animation-name: fadeInUp;
        }
    }
}

/*
* --------------------------------------------- end 页面展示 ---------------------------------------------
*/
